version: '3'

services:
  postgres:
    image: postgres:12
    container_name: postgres
    restart: unless-stopped
    environment:
       - POSTGRES_PASSWORD=dapperlabs123
       - POSTGRES_USER=dapperlabs
    ports:
      - 5432:5432
    networks:
      - app-network

  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: server
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl",  "-f", "http://localhost:3000/health"]
      timeout: 30s
      interval: 30s
      retries: 3
    depends_on:
      postgres:
        condition: service_started
    environment:
      - POSTGRES_USER=dapperlabs
      - POSTGRES_PASSWORD=dapperlabs123
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB=dapperlabs
    ports:
      - 3000:3000
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
